@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color:darkcyan;
    --primary-color-darker: black;
    --white-color:white;
    --gray-color:gray;
    --golden-color:#ffb300;
}

* {
    outline: 0;
}

body{
    margin: 0;
    padding:0;
    background: var(--primary-color);
    font-family:'open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

p{
    align-items: center;
}
p::selection{
    color:var(--golden-color);
    background:var(--white-color);
}
.container  {
    max-width: 640px;
    margin: 50px auto;
    background: var(--white-color);
    padding: 20px;
    border-radius: 10px;
}


.paragrafo-resultado, .bed{
    background:rgb(15, 207, 15);
    padding: 10px 20px;
}

.bad {
    background: rgb(255, 20, 20);
}

.black {
    background:black;
    color:var(--white-color);
}


.container-black{
    max-width: 640px;
    margin: 50px auto;
    background:var(--gray-color);
    padding: 20px;
    border-radius: 10px;
}


.black-normal {
    background: darkcyan;
    color:black
}

.container-normal {
    max-width: 640px;
    margin: 50px auto;
    background: var(--white-color);
    padding: 20px;
    border-radius: 10px;
}

.right {
    display:flex;
    flex-direction: row-reverse;

}

h1{
    text-align: center;
}

.container-avatar{
padding-left: 30px;  
    
}

@media only screen and (min-width: 200px) and (max-width: 362px)  {
    .container-avatar{
        padding-left: 3px;  
            
     }
    
}

.avatar-01:hover{
    transform: translate(0%, -30%) scale(1.3);
}
.avatar-02:hover{
    transform: translate(0%, -30%) scale(1.3);
}.avatar-03:hover{
    transform: translate(0%, -30%) scale(1.3);
}.avatar-04:hover{
    transform: translate(0%, -30%) scale(1.3);
}.avatar-05:hover{
    transform: translate(0%, -30%) scale(1.3);
}
.avatar-06:hover{
    transform: translate(0%, -30%) scale(1.3);
}
.avatar-07:hover{
    transform: translate(0%, -30%) scale(1.3);
}
.avatar-08:hover{
    transform: translate(0%, -30%) scale(1.3);
}

label {
font-size: 20px;
}

input {
width: 100%;

}

.enviar{
    cursor:pointer;
    border: 1px solid;
    height:35px ;
    width: 101.5% ;

}

#continuar{
    display:none;
    justify-content: center;
    align-items: center;   
}

.img-button1, .img-button2, .img-button3, .img-button4,.img-button5,.img-button6,.img-button7,.img-button8 {
    background:var(--white-color);
    border-color: transparent;
    border-radius: 50%;
    cursor:pointer;
}



#flex-normal, #resultado-nick {
    text-align: center;
    
}

#resultado-nick {
    font-size: 25px;

}

#ola, #text-one {
    display:none;
    text-align: center;

}

.side-black-footer{
    padding-top: 3%;
    text-align: center;
    font-size:15px;
    color:var(--white-color);

}

footer a  {
    text-decoration: none;
    color:var(--white-color);
}
